<div class="row mt-3 mb-3"><div class="col-md-12 p-3 p-md-5">
<div class="card p-1 cardos bg-light  border border-danger">
<img class="img-fluid cardos border border-danger" alt="{{title}}" src="{{cover}}"/>
<div class="card-content p-3 p-md-5"><h1><a href="/" class="title">{{title}}</a></h1><h3>{{description}}</h3><p>{{content}}</p>
<p>{{sclist}}</p>
<p><a href="{{sc1url}}" class="title">{{sc1}}</a><br/><a href="{{sc2url}}" class="title">{{sc2}}</a><br/><a href="{{sc3url}}" class="title">{{sc3}}</a><br/><a href="{{sc4url}}" class="title">{{sc4}}</a><br/><a href="{{sc5url}}" class="title">{{sc5}}</a><br/></p>
</div></div>