<div class="row">
<div class="col-md-6 ng"><div class="bg-white bg-opacity-75 p-3 p-md-5 mt-5 rounded">
<h1><a href="/" class="title">{{title}}</a></h1><h3>{{description}}</h3><p class="p-3 p-md-5">{{content}}<br/><a href="https://www.hockeycomputindo.com/2022/05/angular-mvc-free-download-source-code.html" class="btn btn-danger text-white">Documentation →</a></p>
</div></div>
<div class="col-md-6"><img class="img-fluid" alt="{{title}}" src="{{cover}}"/></div>
<div class="col-md-6"><img class="img-fluid" alt="{{sctitle1}}" src="{{cover1}}"/></div>
<div class="col-md-6 p-3 p-md-5"><h1><a href="/" class="title">{{sctitle1}}</a></h1><h3>{{scdescription1}}</h3><p class="p-3 p-md-5 card">{{sccontent1}}</p></div>
<div class="col-md-12 text-center">
<img class="img-fluid" alt="{{productiontitle}}" src="{{productioncover}}"/><div class="p-3 shadow rounded"><h1><a href="/" class="title">{{productiontitle}}</a></h1><h3>{{productiondescription}}</h3><p class="p-3 p-md-5 navo text-white rounded">{{productioncontent}}</p></div>
</div>
<div class="col-md-6 p-3"><img class="img-fluid" alt="{{sectiontitle1}}" src="{{sectioncover1}}"/><div class="p-3"><h1><a href="/" class="title">{{sectiontitle1}}</a></h1><h3>{{sectiondescription1}}</h3><p>{{sectioncontent1}}</p></div>
</div>
<div class="col-md-6 p-3"><img class="img-fluid" alt="{{sectiontitle2}}" src="{{sectioncover2}}"/><div class="p-3"><h1><a href="/" class="title">{{sectiontitle2}}</a></h1><h3>{{sectiondescription2}}</h3><p>{{sectioncontent2}}</p></div>
</div>
<div class="col-md-8"><img class="img-fluid" alt="{{title5}}" src="{{cover5}}"/></div>
<div class="col-md-4 p-3 p-md-5 mt-5"><h1><a href="/" class="title">{{title5}}</a></h1><h3>{{description5}}</h3><p>{{content5}}</p></div>
<div class="col-md-4 p-3 p-md-5 mt-5"><h1><a href="/" class="title">{{title6}}</a></h1><h3>{{description6}}</h3><p>{{content6}}</p></div>
<div class="col-md-8"><img class="img-fluid" alt="{{title6}}" src="{{cover6}}"/></div>
<div class="col-md-12 p-3 p-md-5 text-center"><h1><a href="/" class="title">{{title7}}</a></h1><h3>{{description7}}</h3><p>{{content7}}</p>
<div class="col-md-12 p-0"><img class="img-fluid" width="100%" alt="{{title7}}" src="{{cover7}}"/></div>
</div>
</div>